{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "rules": {
    "arrow-body-style": ["off"],
    "arrow-parens": ["off"],
    "camelcase": ["off"],
    "class-methods-use-this": ["off"],
    "comma-dangle": ["error", "never"],
    "guard-for-in": ["off"],
    "implicit-arrow-linebreak": ["off"],
    "import/extensions": ["off"],
    "import/first": ["off"],
    "import/order": ["off"],
    "import/no-dynamic-require": ["off"],
    "import/no-extraneous-dependencies": ["off"],
    "import/no-named-as-default": ["off"],
    "import/no-unresolved": ["off"],
    "import/prefer-default-export": ["off"],
    "jsx-a11y/alt-text": ["off"],
    "jsx-a11y/click-events-have-key-events": ["off"],
    "jsx-a11y/iframe-has-title": ["off"],
    "jsx-a11y/label-has-associated-control": ["off"],
    "jsx-a11y/label-has-for": ["off"],
    "jsx-a11y/mouse-events-have-key-events": ["off"],
    "jsx-a11y/no-noninteractive-element-interactions": ["off"],
    "jsx-a11y/no-noninteractive-tabindex": ["off"],
    "jsx-a11y/no-static-element-interactions": ["off"],
    "linebreak-style": ["off"],
    "lines-between-class-members": ["warn"],
    "max-len": ["error", 120],
    "no-plusplus": ["off"],
    "no-prototype-builtins": ["off"],
    "no-restricted-globals": "off",
    "no-restricted-syntax": ["off", "ForOfStatement"],
    "no-shadow": ["off"],
    "object-curly-newline": ["off"],
    "operator-linebreak": ["warn"],
    "prefer-destructuring": ["off"],
    "react/button-has-type": ["off"],
    "react/default-props-match-prop-types": ["warn"],
    "react/destructuring-assignment": ["off"],
    "react/jsx-curly-brace-presence": ["warn"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-no-bind": ["warn", {
      "ignoreRefs": true,
      "allowArrowFunctions": true,
      "allowBind": true
    }],
    "react/jsx-one-expression-per-line": ["off"],
    "react/jsx-wrap-multilines": ["warn"],
    "react/no-access-state-in-setstate": ["off"],
    "react/no-did-mount-set-state": ["off"],
    "react/no-find-dom-node": ["off"],
    "react/no-unused-state": ["warn"],
    "react/no-unused-prop-types": ["off"],
    "react/prefer-stateless-function": ["off"],
    "react/sort-comp": ["off"],
    "react/sort-prop-types": ["off"]
  },
  "extends": [
    "airbnb/hooks"
  ]
}
